extends layout

block content
  p To see the number of days until a particluar date, go to:
  p.example-url
    span http://until.date.io/
    span.placeholder yyyy
    span /
    span.placeholder mm
    span /
    span.placeholder dd
    span /