doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    div
      block content
    div.source
      a(href='https://github.com/benatkin/until-date/') source
